<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>IMG</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noticia of getNoticias">
      <td>{{noticia.id}}</td>
      <td><img src="{{noticia.img}}" alt="{{noticia.titulo}}" style="height:100px; width: 130px;"></td>
      <td>{{noticia.titulo}}</td>
      <td>{{noticia.descricao}}</td>
      <td>
        <a href="show/{{noticia.id}}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> Visualizar</a>
      &nbsp;
      <a href="edit/{{noticia.id}}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Editar</a>
      &nbsp;
      <a (click)="removeNoticia(noticia)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
