<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Form Status: </p>
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Titulo</label>
              <input type="text" formControlName="titulo" class="form-control" placeholder="Titulo" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Descrição</label>
              <textarea formControlName="descricao" class="form-control"  cols="30" rows="3" placeholder="Descrição"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Imagem</label>
              <input type="text" formControlName="img" class="form-control"  placeholder="Imagem" />
            </div>
          </div>
          <div class="col-md-12">
            <br/>
            <button type="submit" class="btn btn-primary">Enviar</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>


