<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Form Status: </p>
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Nome</label>
              <input type="text" formControlName="nome" class="form-control" placeholder="Nome" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">E-mail</label>
              <input type="text" formControlName="email" class="form-control" placeholder="E-mail" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Palavra-Passe</label>
              <input type="text" formControlName="password" class="form-control"  placeholder="Palavra-Passe" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Confirmar Palavra-Passe</label>
              <input type="text" formControlName="password_confirmation" class="form-control"  placeholder="Confirmar Palavra-Passe" />
            </div>
          </div>
          <div class="col-md-12">
            <br/>
            <button type="submit" class="btn btn-primary">Salvar</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>


