<p>Form Status: </p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Titulo</label>
        <input type="text" formControlName="titulo" placeholder="Titulo" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Descrição</label>
        <textarea formControlName="descricao"  cols="30" rows="3" placeholder="Descrição"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Imagem</label>
        <input type="text" formControlName="img"  placeholder="Imagem" />
      </div>
    </div>
    <div class="col-md-12">
      <br/>
      <button type="submit">Enviar</button>

    </div>
  </div>
</form>
