<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Form Status: </p>
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Username</label>
              <input type="text" formControlName="username" class="form-control" placeholder="Username" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Palavra-Passe</label>
              <input type="password" formControlName="password" class="form-control" placeholder="Palavra-Passe" />
            </div>
          </div>
          <div class="col-md-12">
            <br/>
            <button type="submit" class="btn btn-primary">Entrar</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
