/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');

.carousel-inner img
{
  height: 18em;
  width: 100%;
}

input.ng-invalid.ng-touched{
  border: 1px red solid;
}
textarea.ng-invalid.ng-touched{
  border: 1px red solid;
}
.login-link{
  color: #fff;
}
.login-link:hover{
  color: #fff;
}
.text-error{
  font-size: 12px;
}
